[mysqld]
# Skip reverse DNS lookup 
skip-name-resolve
skip-external-locking
#
# * Fine Tuning
#
key_buffer		= 16M
max_allowed_packet	= 16M
thread_stack		= 192K
thread_cache_size       = 8
myisam-recover          = BACKUP
table_cache             = 64
query_cache_limit	= 1M
query_cache_size        = 16M

!includedir /etc/my.cnf.d
